{% for interface in device.interfaces.values() | sort %}
    {% if interface.used %}
{{ interface.render() }}
    {% elif interface.name.startswith("Management") %}
    {% else %}
{% include "interface_unused.jinja2" %}
    {% endif %}
{% endfor %}
