name: {{ design.name }}

topology:

  nodes:
    br-dummy:
      kind: bridge

{% for device_name in design.devices %}
    {{ device_name}}:
      kind: ceos
      image: ceos:latest

{% endfor %}

  links:

    # used data ports

{% for endpoints in design.services.topology.cabling.cables.values() %}
{% set endp_a, endp_b = endpoints | sort(attribute="device,port_numbers") %}
{% set side_a = endp_a.device.name + ":" + endp_a | clab_intfname %}
{% set side_b = endp_b.device.name + ":" + endp_b | clab_intfname %}
    - endpoints: ["{{ side_a }}", "{{ side_b }}"]
{% endfor %}

    # unused data ports

{% for device_name, dev_obj in design.devices.items() %}
{% for intf_obj in dev_obj.interfaces.values() | rejectattr('used', 'true') | select("is_clab_dataport") %}
{% set intf_name = intf_obj | clab_intfname %}
    - endpoints: ["{{ device_name }}:{{ intf_name }}", "br-dummy:{{ device_name }}-{{ intf_name }}"]
{% endfor %}
{% endfor %}
