name: {{ design.name }}

# disable container name prefixing so that the etc-hosts file mirrors the node name
prefix: ""

topology:
  defaults:
      env:
        INTFTYPE: et

  nodes:
    br-dummy:
      kind: bridge

    {% for device in devices %}
    {{ device.name}}:
      kind: ceos
      image: ceos:latest
      startup-config: {{ device.name }}.cfg
      mgmt_ipv4: {{ device.primary_ip }}
    {% endfor %}

  links:

    # used cabled data ports
    {% for side_a, side_b in cabled_ports %}
    - endpoints: ["{{ side_a }}", "{{ side_b }}"]
    {% endfor %}

    # used uncabled data ports
    {% for side_a, dummy_id in uncabled_ports %}
    - endpoints: ["{{ side_a }}", "br-dummy:{{ dummy_id }}"]
    {% endfor %}

    # unused data ports
    {% for side_a, dummy_id in unused_ports %}
    - endpoints: ["{{ side_a }}", "br-dummy:{{ dummy_id }}"]
    {% endfor %}
